/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  font-family: Arial, serif;
}

.p-card .p-card-footer {
  padding: 1.25rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dk-display-none {
  display: none;
}

:host ::ng-deep p-menubarsub {
  width: 100%;
}
